<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @artist.Fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @artist.Lname %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
